
@{
    ViewBag.Title = "Manage Customers";
}

<h2>Manage Customers</h2>

<div id="gridDiv"></div>

<script type="text/javascript">
    Ext.define('Customers', {
        extend: 'Ext.data.Model',
        fields: [
            'id', 'displayName', 'membership'
        ]
    });

    Ext.define('Memberships', {
        extend: 'Ext.data.Model',
        fields: [
            'id', 'name'
        ]
    });

    Ext.onReady(function () {
        //Stores
        var pageSize = 10;

        var gridStore = Ext.create('Ext.data.Store', {
            model: 'Customers',
            pageSize: pageSize,
            proxy: {
                type: 'ajax',
                url: '/api/customer',
                extraParams: {
                    search: ''
                },
                reader: {
                    type: 'json',
                    rootProperty: 'items',
                    totalProperty: 'results'
                }
            },
            autoLoad: { start: 0, limit: pageSize }
        });

        var membershipStore = Ext.create('Ext.data.Store', {
            model: 'Memberships',
            proxy: {
                type: 'ajax',
                url: '/api/membership',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                }
            }
        });

        //Grid
        Ext.create('Ext.grid.Panel', {
            id: 'gridId',
            store: gridStore,
            stripeRows: true,
            title: 'Customers', 
            renderTo: 'gridDiv',    

            columns: [
                { text: 'ID', dataIndex: 'id' },
                { text: 'Name', dataIndex: 'displayName', flex: 1 },
                { text: 'Membership', dataIndex: 'membership', flex: 1 },
                {
                    xtype: 'actioncolumn',
                    width: 100,
                    align: "center",
                    header: "Update",
                    id: 'customer-update',
                    icon: '/content/icons8-update-50.png',
                    tooltip: 'Update Customer',
                    handler: function (grid, rowIndex, colIndex) {
                        // Edit start
                        var record = gridStore.getAt(rowIndex);

                        var formEdit = Ext.create('Ext.form.Panel', {
                            items: [{
                                id: 'customer-edit-lastname',
                                xtype: 'textfield',
                                value: record.data.lastName,
                                fieldLabel: 'Last Name',
                                name: 'lastName'
                            }, {
                                id: 'customer-edit-firstname',
                                xtype: 'textfield',
                                value: record.data.firstName,
                                fieldLabel: 'First Name',
                                name: 'firstName'
                            }, {
                                id: 'customer-edit-dateofbirth',
                                xtype: 'datefield',
                                value: record.data.dateOfBirth,
                                fieldLabel: 'Birthday',
                                name: 'dateOfBirth'
                            }, {
                                id: 'customer-edit-membership',
                                xtype: 'combobox',
                                fieldLabel: 'Membership',
                                store: membershipStore,
                                displayField: 'name',
                                valueField: 'id',
                                value: record.data.membershipId.toString(),
                                editable: false
                            }],
                            buttons: [{
                                text: 'Submit',
                                handler: function () {

                                    var newCustomer = {
                                        Id: record.id,
                                        FirstName: Ext.getCmp('customer-edit-firstname').getValue(),
                                        LastName: Ext.getCmp('customer-edit-lastname').getValue(),
                                        DateOfBirth: Ext.getCmp('customer-edit-dateofbirth').getValue(),
                                        Membership_Id: Ext.getCmp('customer-edit-membership').getValue()
                                    };

                                    Ext.Ajax.request({
                                        url: '/api/customer/' + record.id,
                                        method: 'PUT',
                                        headers: { "Content-Type": "application/json" },
                                        jsonData: newCustomer,
                                        success: function (response) {
                                            win.close();
                                            gridStore.load();
                                        }
                                    });
                                }
                            }]
                        });

                        var win = Ext.create('Ext.window.Window', {
                            title: record.data.displayName,
                            modal: true,
                            items: [formEdit]
                        });

                        win.show();
                        // Edit end
                    }
                },
                {
                    xtype: 'actioncolumn',
                    width: 100,
                    align: "center",
                    header: "Delete",
                    id: 'ccustomer-delete',
                    icon: '/content/icons8-minus-50.png',
                    tooltip: 'Delete Customer',
                    handler: function (grid, rowIndex, colIndex) {
                        var record = gridStore.getAt(rowIndex);

                        Ext.MessageBox.confirm('Confirmation', 'Are you sure you want to delete this item?', function (btn) {
                            if (btn === 'yes') {
                                Ext.Ajax.request({
                                    url: '/api/customer/' + record.id,
                                    method: 'DELETE',
                                    success: function (response) {
                                        gridStore.load();
                                    }
                                });
                            }
                        });
                    }
                }
            ],

            dockedItems: [{
                xtype: 'toolbar',
                dock: 'top',
                items: [{
                        xtype: 'textfield',
                        id: 'searchField',
                        emptyText: 'Search...'
                    },{
                        xtype: 'button',
                        text: 'Search',
                        handler: function () {
                            var search = Ext.getCmp('searchField').getValue();

                            gridStore.load({
                                params: {
                                    search: search
                                }
                            });
                        }
                    },{
                        xtype: 'button',
                        text: 'Add',
                        handler: function () {

                            //Add Modal
                            var formAdd = Ext.create('Ext.form.Panel', {
                                items: [{
                                    id: 'customer-add-lastname',
                                    xtype: 'textfield',
                                    fieldLabel: 'Last Name',
                                    name: 'lastName'
                                }, {
                                    id: 'customer-add-firstname',
                                    xtype: 'textfield',
                                    fieldLabel: 'First Name',
                                    name: 'firstName'
                                }, {
                                    id: 'customer-add-dateofbirth',
                                    xtype: 'datefield',
                                    fieldLabel: 'Birthday',
                                    name: 'dateOfBirth'
                                }, {
                                    id: 'customer-add-membership',
                                    xtype: 'combobox',
                                    fieldLabel: 'Membership',
                                    store: membershipStore,
                                    displayField: 'name',
                                    valueField: 'id',
                                    editable: false
                                }],
                                buttons: [{
                                    text: 'Submit',
                                    handler: function () {

                                        var newCustomer = {
                                            FirstName: Ext.getCmp('customer-add-firstname').getValue(),
                                            LastName: Ext.getCmp('customer-add-lastname').getValue(),
                                            DateOfBirth: Ext.getCmp('customer-add-dateofbirth').getValue(),
                                            Membership_Id: Ext.getCmp('customer-add-membership').getValue()
                                        };

                                        Ext.Ajax.request({
                                            url: '/api/customer/',
                                            method: 'POST',
                                            headers: { "Content-Type": "application/json" },
                                            jsonData: newCustomer,
                                            success: function (response) {
                                                win.close();
                                                gridStore.load();
                                            }
                                        });
                                    }
                                }]
                            });

                            var win = Ext.create('Ext.window.Window', {
                                title: 'New Customer',
                                modal: true,
                                items: [formAdd]
                            });

                            win.show();
                        }
                    }]
            }],

            bbar: Ext.create('Ext.PagingToolbar', {
                store: gridStore,
                displayInfo: true
            })
        });

    });
</script>
