
@{
    ViewBag.Title = "Manage Customers";
}

<h2>Manage Customers</h2>

<div id="gridDiv"></div>

<script type="text/javascript">
    Ext.define('Customers', {
        extend: 'Ext.data.Model',
        fields: [
            'id', 'displayName', 'membership'
        ]
    });

    Ext.define('Memberships', {
        extend: 'Ext.data.Model',
        fields: [
            'id', 'name'
        ]
    });

    Ext.onReady(function () {
        //Stores
        var pageSize = 10;

        var gridStore = Ext.create('Ext.data.Store', {
            model: 'Customers',
            pageSize: pageSize,
            proxy: {
                type: 'ajax',
                url: '/api/customer',
                extraParams: {
                    search: ''
                },
                reader: {
                    type: 'json',
                    rootProperty: 'items',
                    totalProperty: 'results'
                }
            },
            autoLoad: { start: 0, limit: pageSize }
        });

        var membershipStore = Ext.create('Ext.data.Store', {
            model: 'Memberships',
            proxy: {
                type: 'ajax',
                url: '/api/membership',
                reader: {
                    type: 'json',
                    rootProperty: 'data'
                }
            }
        });

        //Grid
        Ext.create('Ext.grid.Panel', {
            id: 'gridId',
            store: gridStore,
            stripeRows: true,
            title: 'Customers', 
            renderTo: 'gridDiv',    

            columns: [
                { text: 'ID', dataIndex: 'id' },
                { text: 'Name', dataIndex: 'displayName', flex: 1 },
                { text: 'Membership', dataIndex: 'membership', flex: 1 }
            ],

            dockedItems: [{
                xtype: 'toolbar',
                dock: 'top',
                items: [{
                        xtype: 'textfield',
                        id: 'searchField',
                        emptyText: 'Search...'
                    },{
                        xtype: 'button',
                        text: 'Search',
                        handler: function () {
                            var search = Ext.getCmp('searchField').getValue();

                            gridStore.load({
                                params: {
                                    search: search
                                }
                            });
                        }
                    },{
                        xtype: 'button',
                        text: 'Add',
                        handler: function () {

                            //Add Modal
                            var formAdd = Ext.create('Ext.form.Panel', {
                                items: [{
                                    id: 'customer-add-lastname',
                                    xtype: 'textfield',
                                    fieldLabel: 'Last Name',
                                    name: 'lastName'
                                }, {
                                    id: 'customer-add-firstname',
                                    xtype: 'textfield',
                                    fieldLabel: 'First Name',
                                    name: 'firstName'
                                }, {
                                    id: 'customer-add-dateofbirth',
                                    xtype: 'datefield',
                                    fieldLabel: 'Birthday',
                                    name: 'dateOfBirth'
                                }, {
                                    id: 'customer-add-membership',
                                    xtype: 'combobox',
                                    fieldLabel: 'Membership',
                                    store: membershipStore,
                                    displayField: 'name',
                                    valueField: 'id',
                                    editable: false
                                }],
                                buttons: [{
                                    text: 'Submit',
                                    handler: function () {

                                        var newCustomer = {
                                            FirstName: Ext.getCmp('customer-add-firstname').getValue(),
                                            LastName: Ext.getCmp('customer-add-lastname').getValue(),
                                            DateOfBirth: Ext.getCmp('customer-add-dateofbirth').getValue(),
                                            Membership_Id: Ext.getCmp('customer-add-membership').getValue()
                                        };

                                        console.log(newCustomer);

                                        Ext.Ajax.request({
                                            url: '/api/customer/',
                                            method: 'POST',
                                            headers: { "Content-Type": "application/json" },
                                            jsonData: newCustomer,
                                            success: function (response) {
                                                win.hide();
                                                gridStore.load();
                                            }
                                        });
                                    }
                                }]
                            });

                            var win = Ext.create('Ext.window.Window', {
                                title: 'New Customer',
                                modal: true,
                                items: [formAdd]
                            });

                            win.show();
                        }
                    }]
            }],

            bbar: Ext.create('Ext.PagingToolbar', {
                store: gridStore,
                displayInfo: true
            })
        });

    });
</script>
