
@{
    ViewBag.Title = "Manage Customers";
}

<h2>Manage Customers</h2>

<div>
    <input type="text" id="customer-search" placeholder="search" />
    <button id="customer-search-btn">Search</button>
</div>
<table id="customers" class="table">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th><a href="/customers/managemembership">Membership</a></th>
            <th>
                <button class="btn-link" id="customer-add">Add Customer</button>
            </th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" id="page-first">First</a>
        </li>
        <li class="page-item">
            <a class="page-link" id="page-previous">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" id="page-next">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" id="page-last">Last</a>
        </li>
    </ul>
</nav>


<!-- Add Modal -->
<div class="modal fade" id="customer-add-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Customer Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="text" class="form-control" id="customer-add-lastname">
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" id="customer-add-firstname">
                    </div>
                    <div class="form-group">
                        <label>Birthday</label>
                        <input type="date" class="form-control" id="customer-add-dateofbirth">
                    </div>
                    <div class="form-group">
                        <label>Membership</label>
                        <select class="form-control custom-select" id="customer-add-membership"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="customer-add-submit">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="customer-edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Customer Form</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label>Last Name</label>
                        <input type="hidden" id="customer-edit-id" />
                        <input type="text" class="form-control" id="customer-edit-lastname">
                    </div>
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control" id="customer-edit-firstname">
                    </div>
                    <div class="form-group">
                        <label>Birthday</label>
                        <input type="date" class="form-control" id="customer-edit-dateofbirth">
                    </div>
                    <div class="form-group">
                        <label>Membership</label>
                        <select class="form-control custom-select" id="customer-edit-membership"></select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="customer-edit-submit">Submit</button>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {

            var currentPage = 1;
            var totalPages = 0;
            var dataSource = { totalRows: 0, results: [] };

            function populateTable(pageIndex) {
                var search = $('#customer-search').val();
                currentPage = pageIndex;

                $.ajax({
                    url: "/api/customer?pageIndex=" + pageIndex + "&pageSize=10&search=" + search,
                    method: "GET",
                    success: function (response) {
                        dataSource = response;
                        totalPages = Math.ceil(dataSource.totalRows / 10);

                        var newRow = "";
                        for (var i = 0; i < dataSource.results.length; i++) {
                            newRow = newRow + "<tr><td>" + dataSource.results[i].lastName + "</td><td>"
                                + dataSource.results[i].firstName + "</td><td>"
                                + dataSource.results[i].membership + "</td><td><button class='btn-link js-edit' data-customer-index="
                                + i + ">Edit</button> | <button class='btn-link js-delete' data-customer-id="
                                + dataSource.results[i].id + ">Delete</button></td></tr>";
                        }

                        $("#customers tbody").html(newRow);
                    }
                });
            }

            function populateSelectMembership(list) {
                var options = "";
                $.each(list, function (i, item) {
                    options += "<option value='" + item.id + "'>" + item.name + "</option>";
                });

                $("#customer-add-membership").html(options);
                $("#customer-edit-membership").html(options);
            }

            populateTable(1);

            $.ajax({
                url: "/api/membership/",
                method: "GET",
                success: function (response) {
                    populateSelectMembership(response)
                }
            });

            //search
            $("#customer-search-btn").on("click", function () {
                populateTable(1);
            });

            //paging
            $("#page-first").on("click", function () {
                populateTable(1);
            });

            $("#page-previous").on("click", function () {
                if (currentPage == 1) {
                    populateTable(1);
                }
                else {
                    currentPage = currentPage - 1;
                    populateTable(currentPage);
                }
            });

            $("#page-next").on("click", function () {
                if (currentPage == totalPages) {
                    populateTable(totalPages);
                }
                else {
                    currentPage = currentPage + 1;
                    populateTable(currentPage);
                }
            });

            $("#page-last").on("click", function () {
                populateTable(totalPages);
            });

            //Add
            $("#customer-add").on("click", function () {

                $('#customer-add-modal').modal('show');
            });

            $("#customer-add-submit").on("click", function () {
                var newCustomer = {
                    FirstName: $("#customer-add-firstname").val(),
                    LastName: $("#customer-add-lastname").val(),
                    DateOfBirth: $("#customer-add-dateofbirth").val(),
                    Membership_Id: $("#customer-add-membership").val()
                };

                $.ajax({
                    url: "/api/customer/",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    data: JSON.stringify(newCustomer),
                    success: function (response) {
                        $("#customer-add-modal").modal('toggle');
                        populateTable(1);
                    }
                });
            });

            //Edit
            $("#customers").on("click", ".js-edit", function () {
                var index = $(this).attr("data-customer-index")
                var rowData = dataSource.results[index];

                $("#customer-edit-id").val(rowData.id);
                $("#customer-edit-firstname").val(rowData.firstName);
                $("#customer-edit-lastname").val(rowData.lastName);
                $("#customer-edit-dateofbirth").val(rowData.dateOfBirth);
                $("#customer-edit-membership").val(rowData.membershipId);

                $('#customer-edit-modal').modal('show');
            });

            $("#customer-edit-submit").on("click", function () {
                var newCustomer = {
                    Id: $("#customer-edit-id").val(),
                    FirstName: $("#customer-edit-firstname").val(),
                    LastName: $("#customer-edit-lastname").val(),
                    DateOfBirth: $("#customer-edit-dateofbirth").val(),
                    Membership_Id: $("#customer-edit-membership").val()
                };

                $.ajax({
                    url: "/api/customer/" + newCustomer.Id,
                    method: "PUT",
                    headers: { "Content-Type": "application/json" },
                    data: JSON.stringify(newCustomer),
                    success: function (response) {
                        $("#customer-edit-modal").modal('toggle');
                        populateTable(1);
                    }
                });
            });

            //Delete
            $("#customers").on("click", ".js-delete", function () {
                var button = $(this);

                bootbox.confirm("Are you sure?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customer/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                populateTable(1);
                            }
                        });
                    }
                });
            });


        });
    </script>
}